header {
        background-color: rgb(241, 241, 241);
        color: #202020;

}

header h1 { 
    text-align: center;
    padding-top: 10px;
    color: rgb(35, 35, 35);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

nav {
    margin: auto;
    background-color: #202020;

}

body {
    background: #6c6c6c;
}


nav ul {
    
    color: rgb(241, 241, 241);
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(26, 28, 28);
}

.image-text-section {
    padding-top: 10px;
    display: flex;
    align-items: center;
}

.image-text-section img {
    max-width: 50%;
}

.image-text-section div {
    flex: 1;
    padding: 0 20px;
}

section h3 li {
    
    padding: 10px;
    color: aliceblue;
    display: inline block;
    ;

}
nav li {
    padding: 8px;
    font-size: 10px;
    margin: auto;
    display: inline-block;
    
    
}

li a {
    display: inline;
    color: rgb(241, 241, 241);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


footer {
    background-color: #202020;
}
footer h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: rgb(241, 241, 241);

}