header {
        background-color: rgb(241, 241, 241);
        color: #202020;

}

header h1 { 
    text-align: center;
    padding-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

nav {
    margin: auto;
    background-color: #202020;

}
a {
    color: rgb(241, 241, 241);
    text-align: center;
}
body {
    background: #6c6c6c;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(26, 28, 28);
}

section {
   
}

section p {
    color: aliceblue;
    margin-left: 10px;
}

section img {
    align-content: center;
    padding: 10px;
}

section h3 li {
    padding: 10px;
    color: aliceblue;
    display: inline;
    ;

}
nav li {
    padding: 8px;
    font-size: 10px;
    margin: auto;
    display: inline-block;
    
    
}

li a {
    display: inline;
    color: rgb(241, 241, 241);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}